## Setup mySQL with Python

In [5]:
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv()

connection = mysql.connector.connect(
    host="localhost",
    user="vbluuiza",
    password=os.getenv('mysql_password'),
    connection_timeout=5
)

In [6]:
cursor = connection.cursor()

## Create a DataBase

In [7]:
cursor.execute("DROP DATABASE IF EXISTS db_products")
cursor.execute("CREATE DATABASE IF NOT EXISTS db_products")
connection.commit()

In [8]:
cursor.execute("SHOW DATABASES;" )

for db in cursor:
    print(db)

('db_products',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

## Create Table

In [9]:
import pandas as pd

path_books = '../data/table_books.csv'
path_products_from_2021 = '../data/table_from_2021.csv'

df_books = pd.read_csv(path_books)
df_products_from_2021 = pd.read_csv(path_products_from_2021)

In [18]:
df_books.columns

Index(['id', 'produto', 'categoria_do_produto', 'preco', 'frete',
       'data_da_compra', 'vendedor', 'local_da_compra', 'avaliacao_da_compra',
       'tipo_de_pagamento', 'quantidade_de_parcelas', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
df_books.info()

In [12]:
cursor.execute("DROP TABLE IF EXISTS db_products.books")
connection.commit()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS db_products.books(
                   id VARCHAR(100),
                   produto VARCHAR(100),
                   categoria_produto VARCHAR(100),
                   preco FLOAT(10,2),
                   frete FLOAT(10,2),
                   data_da_compra DATE,
                   vendedor VARCHAR(100),
                   local_da_compra VARCHAR(100),
                   avaliacao_da_compra INT,
                   tipo_de_pagamento VARCHAR(100),
                   qunatidade_de_parcelas INT,
                   latitude FLOAT(10,2),
                   longitude FLOAT(10,2),
                   
                   PRIMARY KEY (id)
                   
               )
               ''')
connection.commit()

In [13]:
cursor.execute('USE db_products;')
cursor.execute('SHOW TABLES;')
for table in cursor:
    print(table)

('books',)

## Insert CSV data into our table books

In [ ]:
data_list = [tuple(row) for i, row in df_books.iterrows()]
data_list

In [15]:
sql = "INSERT INTO db_products.books  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [16]:
cursor.executemany(sql, data_list)
connection.commit()

In [17]:
print(f'{cursor.rowcount} inserted data')

742 inserted data

## Create product_from_2021 table

In [19]:
df_products_from_2021.columns

Index(['id', 'produto', 'categoria_do_produto', 'preco', 'frete',
       'data_da_compra', 'vendedor', 'local_da_compra', 'avaliacao_da_compra',
       'tipo_de_pagamento', 'quantidade_de_parcelas', 'latitude', 'longitude'],
      dtype='object')

In [ ]:
df_products_from_2021.info()

In [21]:
cursor.execute("DROP TABLE IF EXISTS db_products.products_from_2021")
connection.commit()
cursor.execute('''
               CREATE TABLE IF NOT EXISTS db_products.products_from_2021(
                   id VARCHAR(100),
                   produto VARCHAR(100),
                   categoria_produto VARCHAR(100),
                   preco FLOAT(10,2),
                   frete FLOAT(10,2),
                   data_da_compra DATE,
                   vendedor VARCHAR(100),
                   local_da_compra VARCHAR(100),
                   avaliacao_da_compra INT,
                   tipo_de_pagamento VARCHAR(100),
                   qunatidade_de_parcelas INT,
                   latitude FLOAT(10,2),
                   longitude FLOAT(10,2),
                   
                   PRIMARY KEY (id)
                   
               )
               ''')
connection.commit()

In [22]:
cursor.execute('USE db_products;')
cursor.execute('SHOW TABLES;')
for table in cursor:
    print(table)

('books',)
('products_from_2021',)

## Insert CSV data into our table product_from_2021

In [ ]:
data_list = [tuple(row) for i, row in df_products_from_2021.iterrows()]
data_list

In [24]:
sql = "INSERT INTO db_products.products_from_2021  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [25]:
cursor.executemany(sql, data_list)
connection.commit()

In [26]:
print(f'{cursor.rowcount} inserted data')

742 inserted data

In [ ]:
cursor.close()

In [ ]:
connection.close()