## Setup mySQL with Python

In [1]:
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv()

connection = mysql.connector.connect(
    host="localhost",
    user="vbluuiza",
    password=os.getenv('mysql_password')
)

In [2]:
cursor = connection.cursor()

## Create a DataBase

In [3]:
cursor.execute('''
               CREATE DATABASE IF NOT EXISTS db_products;
               ''')
cursor.nextset()

In [4]:
cursor.execute("SHOW DATABASES;" )

for db in cursor:
    print(db)

('db_products',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

## Create Table

In [5]:
import pandas as pd

path = '../data/table_books.csv'

df_books = pd.read_csv(path)

df_books.columns

Index(['id', 'produto', 'categoria_do_produto', 'preco', 'frete',
       'data_da_compra', 'vendedor', 'local_da_compra', 'avaliacao_da_compra',
       'tipo_de_pagamento', 'quantidade_de_parcelas', 'latitude', 'longitude'],
      dtype='object')

In [6]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      742 non-null    object
 1   produto                 742 non-null    object
 2   categoria_do_produto    742 non-null    object
 3   preco                   742 non-null    float64
 4   frete                   742 non-null    float64
 5   data_da_compra          742 non-null    object
 6   vendedor                742 non-null    object
 7   local_da_compra         742 non-null    object
 8   avaliacao_da_compra     742 non-null    int64
 9   tipo_de_pagamento       742 non-null    object
 10  quantidade_de_parcelas  742 non-null    int64
 11  latitude                742 non-null    float64
 12  longitude               742 non-null    float64
dtypes: float64(4), int64(2), object(7)
memory usage: 75.5+ KB

In [7]:
cursor.execute('''
               CREATE TABLE IF NOT EXISTS db_products.books(
                   id VARCHAR(100),
                   produto VARCHAR(100),
                   categoria_produto VARCHAR(100),
                   preco FLOAT(10,2),
                   frete FLOAT(10,2),
                   data_da_compra DATE,
                   vendedor VARCHAR(100),
                   local_da_compra VARCHAR(100),
                   avaliacao_da_compra INT,
                   tipo_de_pagamento VARCHAR(100),
                   qunatidade_de_parcelas INT,
                   latitude FLOAT(10,2),
                   longitude FLOAT(10,2),
                   
                   PRIMARY KEY (id)
                   
               );
               ''')
               
cursor.nextset()

In [8]:
cursor.execute('USE db_products;')

cursor.execute('SHOW TABLES;')
for table in cursor:
    print(table)

('books',)

## Insert CSV data into our table

In [ ]:
data_list = [tuple(row) for i, row in df_books.iterrows()]
data_list

In [21]:
sql = "INSERT INTO db_products.books  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"

In [22]:
cursor.executemany(sql, data_list)
connection.commit()

In [24]:
print(f'{cursor.rowcount} inserted data')

742 inserted data